ALTER TABLE access_groups ADD COLUMN IF NOT EXISTS name_loc jsonb; UPDATE access_groups SET name_loc = json_build_object('pt', name, 'en', name, 'es', name) WHERE name_loc IS NULL; ALTER TABLE roles ADD COLUMN IF NOT EXISTS name_loc jsonb; UPDATE roles SET name_loc = json_build_object('pt', name, 'en', name, 'es', name) WHERE name_loc IS NULL;
